.container{
  width: 600 px;
  margin: auto;
  border: thin solid black;
  padding: 25 px;

}
.grid {
  display: grid;
  grid-template-columns: auto auto;
}
.grid img{
    width: 100 %;
}
body {
 background-color: #4b3b70
}
<h1 style="background-color:#4b3b70;">#4b3b70</h1>
